.cardContainer {
  /* min-width: 250px; */
  
  height: 200px;
  width: 150px;

  display: flex;
  flex-direction: column;

  border-radius: 20px;

  margin-top: 50px;
  margin-bottom: 10px;

  background-color: rgba(255, 191, 183, 0.6);
}

.cardImgContainer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardImg {
  height: 100px;
  width: 100px;

  margin-top: -20px;

  border-radius: 50%;
}

.recipeTitleContainer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recipeTitle {
  font-size: 18px;
  /* font-size: 1rem; */
  font-weight: bold;
  font-family: 'Caveat', cursive;
  text-align: center;
  
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.recipeSubtitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */

  margin-bottom: 5px;
}

.recipeSubtitle {
  margin: 0;
  margin-left: 5px;

  font-size: 18px;
  font-weight: 500;
  font-family: 'Caveat', cursive;
}

.buttonContainer {
  width: 100%;
  margin-top: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttonContainer:hover {
  opacity: 0.8;
  transition: 0.8s;
}

.teste {
  align-self: center;
}