.headerContainer {
  position: absolute;

  height: 60px;
  width: 100%;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: coral;
}

.logo {
  height: 3em;
  margin-left: 10px;

  cursor: pointer;
}

.btnContainer {
  margin-right: 10px;
  margin-top: -20px;
}
