.container {
  min-height: 100vh;
  
  background-color: #FFE9D6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
}

.img {
  border-radius: 50%;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;

  color: #EBA98A;

  margin-top: 10px;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;

  margin-left: 5px;
  margin-right: 5px;

  color: #EBA98A;

  margin-block-start: 0px;
  margin-block-end: 0px;
}

.subContentText {
  display: none;

  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;

  margin-left: 5px;
  margin-right: 5px;

  color: #EBA98A;

  margin-block-start: 0px;
  margin-block-end: 0px;
}

.actionButtonsContainer {
  width: 100%;

  margin-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subContentContainer {
  margin-top: 50px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;

  margin-bottom: 30px;
}

@media (min-width: 700px) {
  .mainContentContainer{
    flex-direction: row;
    justify-content: space-between;
  }

  .imgContainer {
    margin-left: 50px;
  }

  .title {
    font-size: 3.5rem;
    text-align: left;

    margin-left: 50px;
    margin-right: 10px;
  }

  .subtitle {
    font-size: 1.5rem;
    text-align: left;

    margin-left: 50px;
    margin-right: 10px;
  }

  .subContentText {
    display: block;

    margin-top: 10px;
    margin-left: 50px;
  }

  .subContentTextContainer {
    justify-self: center;
    align-self: center;
  }

  .subContentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 920px) {
  .mainContentContainer {
    margin-left: 15%;
    margin-right: 15%;
  }

  .subContentContainer {
    margin-left: 15%;
    margin-right: 15%;
  }
}