.mainContainer {
  margin-top: 120px;
  margin-bottom: 20px;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.ApresentationContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ApresentationImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10px;
}

.img {
  border-radius: 50%;
}

.TextApresentationContainer {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}

.TextApresentationTextTitle {
  font-family: var(--titleFont);
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;

  margin-right: 10px;
  margin-bottom: 20px;

}

.TextApresentationTextContent {
  font-family: var(--contentFont);
  font-size: 16px;
  font-size: 1rem;
  text-align: center;

  margin-top: 0px;
}

.informationTextTitle {
  font-family: var(--titleFont);
  font-size: 24px;

  margin-left: 20px;
  margin-bottom: 20px;
}

.informationTextContent {
  font-family: var(--contentFont);
  font-size: 16px;

  margin-left: 20px;
  margin-right: 20px;
}

.card {
  margin-left: 40px;

  height: 100px;
  width: 120px;

  cursor: pointer;

  border-radius: 10px;

  background-color: #e9bcb2;
  box-shadow: 1px 1px black;
}

.cardsContainer {
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 15px;
}

.cardIconContainer {
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cardText {
  font-family: var(--contentFont);
  font-size: 20px;
  margin-top: 0px;

  text-align: center;
  color: #FFF;
}

.card:hover {
  opacity: 0.7;
}

@media (min-width: 750px) {
  .mainContainer {
    flex-direction: row;
  }

  .ApresentationContainer{
    width: 50%;

    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .informationContainer {
    width: 50%;
  }

  .ApresentationImgContainer {
    margin-left: 0px;
  }

  .TextApresentationTextTitle {
    font-size: 36px;
    font-size: 2.25rem;

    text-align: left;
  }

  .TextApresentationTextContent {
    font-size: 24px;
    font-size: 1.5rem;

    text-align: left;
  }

  .informationTextTitle {
    font-size: 36px;
    font-size: 2.25rem;
  }

  .informationTextContent {
    font-size: 24px;
    font-size: 1.5rem;
  }
}