.mainContainer {
  margin-top: 130px;
  margin-bottom: 20px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;
}

.img {
  border-radius: 50%;
}

.inputNumberContainer {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputNumberHelperText {
  font-family: var(--titleFont);
  font-size: 24px;
  font-size: 1.5rem;
}

.updateFieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 15px;
}

.ingredientsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-left: 10px;
  padding-right: 10px;

  margin-bottom: 20px;
}

.ingredientTitleApresentation {
  font-family: var(--titleFont);
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: normal;
}

@media (min-width: 500px) {
  .updateFieldContainer {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .ingredientsContainer{
    width: 85%;
  }
}

@media (min-width: 800px) {
  .updateFieldContainer {
    width: 50%;
  }

  .ingredientsContainer{
    width: 50%;
  }
}